ROMPCheckIn/Web References/cms.romponline.com/ROMPLocation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LearnerLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LearnerLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LearnerLoginResult" type="tns:LoginResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionKey" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="grpID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationsResult" type="tns:ArrayOfFacilityCoordinates" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFacilityCoordinates">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FacilityCoordinates" nillable="true" type="tns:FacilityCoordinates" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FacilityCoordinates">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckInWithLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="locID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="locLat" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="locLong" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInWithLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckInWithLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="locID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LearnerLoginSoapIn">
    <wsdl:part name="parameters" element="tns:LearnerLogin" />
  </wsdl:message>
  <wsdl:message name="LearnerLoginSoapOut">
    <wsdl:part name="parameters" element="tns:LearnerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSessionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSession" />
  </wsdl:message>
  <wsdl:message name="CheckSessionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="GetLocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="CheckInWithLocationSoapIn">
    <wsdl:part name="parameters" element="tns:CheckInWithLocation" />
  </wsdl:message>
  <wsdl:message name="CheckInWithLocationSoapOut">
    <wsdl:part name="parameters" element="tns:CheckInWithLocationResponse" />
  </wsdl:message>
  <wsdl:message name="CheckInSoapIn">
    <wsdl:part name="parameters" element="tns:CheckIn" />
  </wsdl:message>
  <wsdl:message name="CheckInSoapOut">
    <wsdl:part name="parameters" element="tns:CheckInResponse" />
  </wsdl:message>
  <wsdl:portType name="ROMPLocationSoap">
    <wsdl:operation name="LearnerLogin">
      <wsdl:input message="tns:LearnerLoginSoapIn" />
      <wsdl:output message="tns:LearnerLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSession">
      <wsdl:input message="tns:CheckSessionSoapIn" />
      <wsdl:output message="tns:CheckSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input message="tns:GetLocationsSoapIn" />
      <wsdl:output message="tns:GetLocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckInWithLocation">
      <wsdl:input message="tns:CheckInWithLocationSoapIn" />
      <wsdl:output message="tns:CheckInWithLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckIn">
      <wsdl:input message="tns:CheckInSoapIn" />
      <wsdl:output message="tns:CheckInSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ROMPLocationSoap" type="tns:ROMPLocationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LearnerLogin">
      <soap:operation soapAction="http://tempuri.org/LearnerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSession">
      <soap:operation soapAction="http://tempuri.org/CheckSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInWithLocation">
      <soap:operation soapAction="http://tempuri.org/CheckInWithLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIn">
      <soap:operation soapAction="http://tempuri.org/CheckIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ROMPLocationSoap12" type="tns:ROMPLocationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LearnerLogin">
      <soap12:operation soapAction="http://tempuri.org/LearnerLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSession">
      <soap12:operation soapAction="http://tempuri.org/CheckSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap12:operation soapAction="http://tempuri.org/GetLocations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckInWithLocation">
      <soap12:operation soapAction="http://tempuri.org/CheckInWithLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIn">
      <soap12:operation soapAction="http://tempuri.org/CheckIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ROMPLocation">
    <wsdl:port name="ROMPLocationSoap" binding="tns:ROMPLocationSoap">
      <soap:address location="http://cms.romponline.com/romplocservice/ROMPLocation.asmx" />
    </wsdl:port>
    <wsdl:port name="ROMPLocationSoap12" binding="tns:ROMPLocationSoap12">
      <soap12:address location="http://cms.romponline.com/romplocservice/ROMPLocation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>